  <!--Banner Video Starts -->
  <div class="banner">
    <div class="banner-video">
      <iframe class="banner-vid-iframe" width="100%" src="https://www.youtube.com/embed/d9MyW72ELq0?autoplay=1&mute=1&playlist=d9MyW72ELq0&loop=1">
      </iframe>
    </div>
    <div class="banner-side-rail">
      <h2> Avatar: The Way of Water | Official Trailer </h2>
      <br><b>Release Date:</b> December 16, 2022
      <br><br><p>Stay Tuned for more updates! </p>
    <div>
      </div>
    </div>
  </div>
  <!--Banner Video Ends-->